html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f5f7fa;
    overflow: hidden;
}

body {
    background-color: #f5f7fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    font-size: 2rem;
    color: #2c3e50;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 40px;
}

.left-panel {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 74vh;
    
}

.right-panel {
    flex-grow: 1;
}

.input-box {
    padding: 8px 4px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: #2980b9;
}

.output-box {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
}

.mapa {
    height: 80vh;
    width: 100%;
    margin: 0;
    padding: 0;
    border: #2980b9;
}


