/* Layout geral */
body {
  background-color: #f4f7fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Título principal */
h1 {
  text-align: center;
  color: #1f3b4d;
  font-size: 30px;
  margin-top: 15px;
}

h3{
text-align: center;
  color: #1f3b4d;
  font-size: 15px;
}

p{
    text-align: center;
    font-size: 18px;
}


/* Container dos dropdowns */
div > label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}

.Select-control {
  border-radius: 8px !important;
  border: 1px solid #ccc !important;
  box-shadow: none !important;
  font-size: 1rem;
}

/* Dropdowns em coluna com espaçamento */
.css-1wa3eu0-placeholder {
  color: #999 !important;
}

div > .dash-dropdown {
  margin-bottom: 20px;
}

/* Botão com animação estilosa */
#botao-calcular {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
}


#botao-calcular:hover{
    background-color: #62ca70;
    color: #0f0e0e;
}

/* Mapa com espaçamento */
#mapa-rota {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
}

/* Informações da rota */
#info-rota {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: #2a4d69;
}

/* Informação do próximo trem */
#saida-proximo-trem {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: #050c33;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  #botao-calcular {
    padding: 0.8em 1.5em;
  }

  #mapa-rota {
    height: 40vh !important;
  }
}
